<div id="app">
    <h3 class="title">
        Datatable Component - Demo
    </h3>
    <!-- Datatable -->
    <datatable-component 
        :header-fields="headerFields" 
        :headers-sortable="true" 
        :sort-field="sortField" 
        :sort="sort" :data="data || []"
        :is-loading="isLoading" 
        :css="datatableCss" 
        not-found-msg="Items not found" 
        @on-update="dtUpdateSort"
        @header-fields-ordered="updateHeadersOrdering"
        track-by="firstName">
        <!-- Action button slot -->
        <input slot="actions" slot-scope="props" type="button" class="btn btn-info" value="Edit"
            @click="dtEditClick(props)">
        <a href="#" slot="actionFirst" slot-scope="props" @click.prevent="actionFirstClick(props)">Actions 2</a>

        <input type="text" slot="updated:header" value="Custom updated" />

        <span slot="createdHeader">Custom Created</span>

        <!-- Pagination component as a slot, but could be drag out from Database element -->
        <datatable-pagination slot="pagination" :page="currentPage - 1" :current-page-records="data.length" :total-items="totalItems" :items-per-page="itemsPerPage"
            :css="paginationCss" @on-update="changePage" @update-current-page="updateCurrentPage">
            <template slot="paginationLegend" slot-scope="props">
                <span>
                    Displaying Items {{ props.start }} - {{ props.end }} of {{ props.total }}
                </span>
            </template>
        </datatable-pagination>

        <div class="items-per-page" slot="pageSizeSelection">
            <label>Items per page</label>
            <datatable-pagesize :items-per-page-options="itemsPerPagePptions" :items-per-page="itemsPerPage"
                :css="itemsPerPageCss" @on-update="updateItemsPerPage" />
        </div>

        <!-- Spinner element as slot used when is-loading attribute is true -->
        <Spinner slot="loadingIndicator" />

        <!-- Custom element for hometown -->
        <div slot="HometownNew" slot-scope="props">
            <input type="text" :value="props.rowData.hometown" @keyup="changeHometown($event, props.rowData.id)"
                class="form-control" />
        </div>
    </datatable-component>
</div>